<div class="header">
<div class="info_logo">
</div>-->
</div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if '/' == page.url %}class="active"{% endif %}><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
                <li {% if '/schema/' == page.url %}class="active"{% endif %} ><a href="{{ '/schema' | prepend: site.baseurl }}">Schema</a></li>
                <li {% if '/apps/' == page.url %}class="active"{% endif %} ><a href="{{ '/apps' | prepend: site.baseurl }}">Applications</a></li>
                <li {% if '/news/' == page.url %}class="active"{% endif %} ><a href="{{ '/news' | prepend: site.baseurl }}">News</a></li>
                <li {% if '/about/' == page.url %}class="active"{% endif %} ><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
